<h1>Welcome</h1>
<p><%= link_to "Work Posts", work_posts_path(format: :json) %></p>
<p><%= link_to "Ejercio Actividades", 'https://mega.nz/#!FlUGAQ5S!p0PCpPfijaNploazUnsEjzswFqOn9GupXJZJUBIY5N0' %></p>
